# DELETE FROM table WHERE search_condition ------------------------ Delete content
# ALTER TABLE table_name ADD COLUMN column_definition; ------------ Add new Column
# ALTER TABLE existing_table RENAME TO new_table; ----------------- Rename Table
# DROP TABLE users; ----------------------------------------------- Delete Table
# ALTER TABLE table_name RENAME COLUMN current_name TO new_name --- Rename Column