{% extends "layout.html" %}
<!-- main -->

{% block innerContaint %}

<!-- dashboard inner -->
<div class="container-fluid">
    <div class="row column_title">
        <div class="col-md-12">
            <div class="page_title">
                <h2>Dashboard</h2>
            </div>
        </div>
    </div>
    <!-- <div class="row column1">
        <div class="col-md-6 col-lg-3">
            <div class="full counter_section margin_bottom_30">
                <div class="couter_icon">
                    <div>
                        <i class="fa fa-user yellow_color"></i>
                    </div>
                </div>
                <div class="">
                    <div>
                        <p class="total_no">2500</p>
                        <p class="head_couter">Welcome</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="full counter_section margin_bottom_30">
                <div class="couter_icon">
                    <div>
                        <i class="fa fa-clock-o blue1_color"></i>
                    </div>
                </div>
                <div class="">
                    <div>
                        <p class="total_no">123.50</p>
                        <p class="head_couter">Average Time</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="full counter_section margin_bottom_30">
                <div class="couter_icon">
                    <div>
                        <i class="fa fa-cloud-download green_color"></i>
                    </div>
                </div>
                <div class="">
                    <div>
                        <p class="total_no">1,805</p>
                        <p class="head_couter">Collections</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="full counter_section margin_bottom_30">
                <div class="couter_icon">
                    <div>
                        <i class="fa fa-comments-o red_color"></i>
                    </div>
                </div>
                <div class="">
                    <div>
                        <p class="total_no">54</p>
                        <p class="head_couter">Comments</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row column1 social_media_section">
        <div class="col-md-6 col-lg-3">
            <div class="full socile_icons tw margin_bottom_30">
                <div class="social_icon">
                    <!-- <i class="fa fa-facebook"></i> -->
                    <h1>{{memberSum}}</h1>
                </div>
                <div class="social_cont">
                    <div class="couter_icon">
                        <i class="fa fa-users yellow_color"></i>
                    </div>
                    <h4>Members</h4>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="full socile_icons tw margin_bottom_30">
                <div class="social_icon">
                    <h1>3</h1>
                </div>
                <div class="social_cont">
                    <!-- <ul>
                        <li>
                            <span>Groups</span>
                        </li>
                    </ul> -->
                    <div class="couter_icon">
                        <i class="fa fa-object-group yellow_color"></i>
                    </div>
                    <h4>Group</h4>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="full socile_icons tw margin_bottom_30">
                <div class="social_icon">
                    <h1>
                        3
                    </h1>
                </div>
                <div class="social_cont">
                    <div class="couter_icon">

                        <i class="fa fa-user-plus yellow_color"></i>
                    </div>
                </div>
                <div class="social_cont">
                    <ul>
                        <li>
                            <h4> New members this month</h4>
                        </li>
                        <li id="focus">
                            <span><strong>20</strong></span>
                            <strong>This year</strong>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="full socile_icons tw margin_bottom_30">
                <div class="social_icon">
                    <h1>3</h1>
                </div>
                <div class="social_cont">
                    <div class="couter_icon">
                        <i class="fa fa-birthday-cake yellow_color"></i>
                    </div>
                    <div class="social_cont">
                        <ul>
                            <li>
                                <!-- <span><strong></strong></span> -->
                                <strong>BIrthday Today</strong>
                            </li>
                            <li id="focus">
                                <span><strong>11</strong></span>
                                <strong>This month</strong>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="full socile_icons tw margin_bottom_30">
                <div class="social_icon">
                    <h1>0</h1>
                    <!--  -->
                </div>
                <div class="social_cont">
                    <div class="couter_icon">
                        <i class="fa fa-mars-double yellow_color"></i>
                    </div>

                </div>
                <div class="social_cont">
                    <ul>
                        <li>
                            <!-- <span><strong>0</strong></span> -->
                            <span>Marriage Today</span>
                        </li>
                        <li id="focus">
                            <span><strong>4</strong></span>
                            <span>This month</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="full socile_icons tw margin_bottom_30">
                <div class="social_icon">
                    <h1>15</h1>
                    <!-- <i class="fa fa-google-plus google_p"></i> -->
                </div>
                <div class="social_cont">
                    <ul>
                        <li>
                            <!-- <span><strong>15</strong></span> -->
                            <span>Absentees Last Week</span>
                            <span>1.5%</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="full socile_icons tw margin_bottom_30">
                <div class="social_icon">
                    <!-- <i class="fa fa-google-plus"></i> -->
                    <h1>985</h1>
                </div>
                <div class="social_cont">
                    <ul>
                        <li>
                            <!-- <span><strong>985</strong></span> -->
                            <span>Attendees</span>
                            <span>98.5%</span>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="full socile_icons tw margin_bottom_30">
                <div class="social_icon">
                    <h1>5</h1>
                    <!-- <i class="fa fa-google-plus"></i> -->
                </div>
                <div class="social_cont">
                    <ul>
                        <li>
                            <span><strong>5</strong></span>
                            <span>Done follow-up</span>
                        </li>
                        <li id="focus">
                            <span><strong>4</strong></span>
                            <span>Need follow-up</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end dashboard inner -->

{% endblock %} {% block index %} {% endblock %}