{% extends "layout.html" %} {% block innerContaint %}


<div class="container-fluid">
    <div class="row">


        <div class="col-md-12">
            <div class="white_shd full margin_bottom_30">

                <div class="full graph_head">
                    <div class="heading1 margin_0">
                        <h2>Converts</h2>
                    </div>
                </div>
                <div class="table_section padding_infor_info">
                    <div class="table-responsive-sm">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>No.</th>
                                    <th>Name</th>
                                    <th>Gender</th>
                                    <th>Date of Birth</th>
                                    <th>Location</th>
                                    <th>Contact</th>
                                    <th>Date Converted</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for convert in converts %}
                                <tr>
                                    <td>{{convert.id}}.</td>
                                    <td>{{convert.name}}</td>
                                    <td>{{convert.gender}}</td>
                                    <td>{{convert.date_of_birth}}</td>
                                    <td>{{convert.location}}</td>
                                    <td>{{convert.contact}}</td>
                                    <td>{{convert.joined_date}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="button_block center"><button type="button" class="btn cur-p btn-primary"><a href="/add-new-convert" id="a">Add New Convert</a></button></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}