{% extends "layout.html" %} {% block innerContaint %}


<form method="post">
    <div class="lg-m-5 m-2 my-4 py-5 member-form">

        <!-- Name -->
        <div class="col-auto">
            <label class="sr-only" for="name"></label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Full Name</div>
                </div>
                <input type="text" class="form-control" name="name" id="name" placeholder="Ben Ngafua">
            </div>
        </div>

        <!-- Email -->
        <div class="col-auto">
            <label class="sr-only" for="mail"></label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">E-mail</div>
                </div>
                <input type="email" class="form-control" id="mail" name="mail">
            </div>
        </div>
        <!-- Contact -->
        <div class="col-auto">
            <label class="sr-only" for="contact"> </label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Contact</div>
                </div>
                <input type="text" class="form-control" id="contact" name="contact">
            </div>
        </div>
        <!-- Address -->
        <div class="col-auto">
            <label class="sr-only" for="address"> </label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Address</div>
                </div>
                <input type="text" class="form-control" name="address" id="address" placeholder="Address">
            </div>
        </div>


        <!-- Date of Birth-->
        <div class="col-auto">
            <label class="sr-only" for="date_of_birth"> </label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Date of Birth</div>
                </div>
                <input type="date" max="2040-12-13" class="form-control" name="date_of_birth" id="date_of_birth" placeholder="dd/mm/yy">
            </div>
        </div>

        <!-- Department -->
        <div class="col-auto">
            <label class="sr-only" for="department"> </label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Department</div>
                </div>
                <input type="text" class="form-control" name="department" id="department" placeholder="Department">
            </div>
        </div>

        <!-- Status -->
        <div class="col-auto">
            <label class="sr-only" for="role"> </label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Join Status</div>
                </div>
                <select name="join_status" id="">
                    <option selected disabled>Select</option>
                    <option value="New Convert">New Convert</option>
                    <option value="New Member">New Member</option>
                </select>
                <!-- <input type="text" class="form-control" title="If member, specified position. If not new convert, or just new member" id="role" name="join_status" placeholder="Position"> -->
            </div>
        </div>

        
        <!-- Baptize -->
        <div class="col-auto">
            <label class="sr-only" for="role"> </label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Baptized</div>
                </div>
                <select name="baptize" id="">
                    <option selected disabled>Select</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
                <!-- <input type="text" class="form-control" title="If member, specified position. If not new convert, or just new member" id="role" name="join_status" placeholder="Position"> -->
            </div>
        </div>
        <!-- Gender -->
        <div class="col-auto py-2">
            <div style="color: black; font-size: larger;">Gender:</div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id="gender1" value="male">
                <label class="form-check-label" for="gender1">
              Male
            </label>
                <input class="form-check-input" type="radio" name="gender" id="gender" value="Female">
                <label class="form-check-label" for="gender">
              Female
            </label>
            </div>
        </div>


    </div>
    <button type="submit" class="btn cur-p btn-primary">Submit</button>
</form>

{% endblock %}