{% extends "layout.html" %}
<!-- main -->

{% block innerContaint %}

<!-- dashboard inner -->
<div class="container-fluid">
    <div class="row column_title">
        <div class="col-md-12">
            <div class="page_title">
                <h2 style="text-align: center;">Latest Update</h2>
            </div>
        </div>
    </div>
    <div class="row column1 social_media_section">
        <div class="col-md-6 col-lg-3">
            <div class="full socile_icons tw margin_bottom_30">
                <div class="social_icon">
                    <h1>Total Members</h1>
                </div>
                <div class="social_cont">
                    <div class="couter_icon">
                        <i class="fa fa-users yellow_color"></i>
                    </div>
                    <h4>{{memberSum}}</h4>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="full socile_icons tw margin_bottom_30">
                <div class="social_icon">
                    <h1>Total Men </h1>
                </div>
                <div class="social_cont">

                    <div class="couter_icon">
                        <i class="fa fa-male yellow_color"></i>
                        <!-- <i class="fa fa-object-group yellow_color"></i> -->
                    </div>
                    <h4>{{men}}</h4>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="full socile_icons tw margin_bottom_30">
                <div class="social_icon">
                    <h1>Total Women </h1>
                </div>
                <div class="social_cont">
                    <div class="couter_icon">
                        <i class="fa fa-female yellow_color"></i>
                    </div>
                    <div>
                        <h4>{{women}} </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="full socile_icons tw margin_bottom_30">
                <div class="social_icon">
                    <h1>Total Children</h1>
                </div>
                <div class="social_cont">
                    <div class="couter_icon">
                        <i class="fa fa-child yellow_color"></i>
                    </div>
                    <div>
                        <h4>{{memberSum}} </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="full socile_icons tw margin_bottom_30">
                <div class="social_icon">
                    <h1>
                        Total New members
                    </h1>
                </div>
                <div class="social_cont">
                    <div class="couter_icon">
                        <i class="fa fa-child yellow_color"></i>
                    </div>
                    <div>
                        <h4> This Month: {{convertMonth}}</h4>
                        <h4>This year: {{convertYear}}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="full socile_icons tw margin_bottom_30">
                <div class="social_icon">
                    <h1>Upcoming Birthdays </h1>
                </div>
                <div class="social_cont">
                    <div class="couter_icon">
                        <i class="fa fa-birthday-cake yellow_color"></i>
                    </div>
                    <div>
                        <h4>Today: {{birth_sum_today}}</h4>
                        <h4>This month: {{birth_sum_this_month}}</h4>
                    </div>

                </div>
            </div>
        </div>
        <div style="text-align: center; padding: 40px;">
            <h4>Church Growth since founded</h4>
        </div>
        <canvas id="bar-chart" width="800" height="450"></canvas>

        <!-- Minor Addition -->
        <!-- <div class="col-md-6 col-lg-3">
            <div class="full socile_icons tw margin_bottom_30">
                <div class="social_icon">
                    <h1>Marriage </h1>
                </div>
                <div class="social_cont">
                    <div class="couter_icon">
                        <i class="fa fa-mars-double yellow_color"></i>
                    </div>
                </div>
                <div class="social_cont">
                    <ul>
                        <li>
                            <h4>0</h4>
                            <h4>Today</h4>
                        </li>
                        <li id="focus">
                            <span><strong>4</strong></span>
                            <h4>This month</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="full socile_icons tw margin_bottom_30">
                <div class="social_icon">
                    <h1>Follow up</h1>
                </div>
                <div style="text-align: center; padding-top: 10px;">

                    <img src="{{url_for('static', filename='images/layout_img/follow.png')}}" width="20%">

                </div>
                <div class="social_cont">
                    <ul>
                        <li>
                            <span><strong>5</strong></span>
                            <h4>Done follow-up</h4>
                        </li>
                        <li id="focus">
                            <span><strong>4</strong></span>
                            <h4>Need follow-up</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="full socile_icons tw margin_bottom_30">
                <div class="social_icon">
                    <h1>Anniversary's Date</h1>
                </div>
                <div style="text-align: center; padding-top: 10px;">

                    <img src="{{url_for('static', filename='images/layout_img/follow.png')}}" width="20%">

                </div>
                <div class="social_cont">

                    <strong>{{anniversary}}</strong>
                </div>
            </div>
        </div> -->
    </div>
</div>
<!-- end dashboard inner -->
<script>
    // Bar chart
    new Chart(document.getElementById("bar-chart"), {
        type: 'bar',
        data: {
            labels: {
                {
                    label | safe
                }
            },
            datasets: [{
                label: "Church Growth",
                backgroundColor: ["#070122", "#F09608", "#070122", "#F09608", "#070122", "#F09608", "#070122", "#F09608", "#070122", "#F09608", "#070122", "#F09608"],
                data: {
                    {
                        value | safe
                    }
                },
                borderRadius: 5,
            }]
        },
        options: {
            legend: {
                display: false
            },
            title: {
                display: true,
                text: 'Predicted world population (millions) in 2050'
            },
        },

    });
</script>
{% endblock %} {% block index %} {% endblock %}