{% extends "layout.html" %} {% block innerContent %}


<div class="container-fluid">
    <div class="row">


        <div class="col-md-12">
            <div class="white_shd full margin_bottom_30">

                <div class="full graph_head">
                    <div class="heading1 margin_0">
                        <h2>Members</h2>
                    </div>
                </div>
                <div class="table_section padding_infor_info">
                    <div class="table-responsive-sm">
                        <table class="table">
                            <thead class="thead-blue">
                                <tr>
                                    <th>No.</th>
                                    <th>Name</th>
                                    <th>Gender</th>
                                    <th>Address</th>
                                    <th>Contact</th>
                                    <th>Group</th>
                                    <th>DOB</th>
                                    <th>Date Of Join</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for member in members %}
                                <tr>
                                    <td>{{member.member_id}}</td>
                                    <td>{{member.name}} </td>
                                    <td>{{member.gender}}</td>
                                    <td>{{member.address}}</td>
                                    <td>{{member.contact}}</td>
                                    <td>{{member.department_group}}</td>
                                    <td>{{member.date_of_birth}}</td>
                                    <td>{{member.joined_date}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="button_block center"><button type="button" class="btn cur-p btn-primary"><a href="/add-new-member" id="a">Add New Member</a></button></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}