{% extends "layout.html" %} {% block innerContaint %}


<div class="container-fluid">
    <div class="row">


        <div class="col-md-12">
            <div class="white_shd full margin_bottom_30">

                <div class="full graph_head">
                    <div class="heading1 margin_0">
                        <h2>Members</h2>
                    </div>
                </div>
                <div class="table_section padding_infor_info">
                    <div class="table-responsive-sm">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>No.</th>
                                    <th>Name</th>
                                    <th>Gender</th>
                                    <th>Location</th>
                                    <th>Contact</th>
                                    <th>Marital Status</th>
                                    <th>Occupation</th>
                                    <th>Group</th>
                                    <th>Wedded Date</th>
                                    <th>DOB</th>
                                    <th>Date of Join</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for member in members %}
                                <tr>
                                    <td>{{member.id}}.</td>
                                    <td>{{member.name}}</td>
                                    <td>{{member.gender}}</td>
                                    <td>{{member.location}}</td>
                                    <td>{{member.contact}}</td>
                                    <td>{{member.relationship}}</td>
                                    <td>{{member.occupation}}</td>
                                    <td>{{member.department}}</td>
                                    <td>{{member.wedding_anniversary}}</td>
                                    <td>{{member.date_of_birth}}</td>
                                    <td>{{member.joined_date}}</td>
                                </tr>
                                {% endfor %} {% for newMember in newMember %}
                                <tr>
                                    <td>{{newMember.id}}</td>
                                    <td>{{newMember.name}} </td>
                                    <td>{{newMember.gender}}</td>
                                    <td>{{newMember.location}}</td>
                                    <td>{{newMember.contact}}</td>
                                    <td>{{newMember.relationship}}</td>
                                    <td>{{newMember.occupation}}</td>
                                    <td>{{newMember.department}}</td>
                                    <td>{{newMember.wedding_anniversary}}</td>
                                    <td>{{newMember.date_of_birth}}</td>
                                    <td>{{newMember.joined_date}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="button_block center"><button type="button" class="btn cur-p btn-primary"><a href="/add-new-member" id="a">Add New Member</a></button></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}