{% extends "layout.html" %}
<!-- take attendance -->
{% block innerContaint %}
<form method="post">

    <div class="full graph_head">
        <div class="heading1 margin_0">
            <h2>NEW ATTENDANCE</h2>
        </div>
    </div>
    <div class="table_section padding_infor_info">
        <div class="table-responsive-sm">
            <table class="table">
                <thead class="thead-dark">
                    <th>No.</th>
                    <th>Name</th>
                    <th>Check</th>
                </thead>
                <tbody>
                    {% for data in member_names %}
                    <tr>
                        <td>{{data.id}}</td>
                        <td>{{data.name}}</td>
                        <td><input type="checkbox" name="num" id="" value="{{data.id}}"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn cur-p btn-primary">Submit</button>
        </div>
    </div>

</form>
<!-- Endblock -->
{% endblock %}